.container {
     background-color: #ffffff;
     padding: 10px;
     text-align: center;
     font-family: monospace;
}

.navbar {
     text-align: left;
     font-family: monospace;
}

p {
     font-size: 13px;
}

.footer {
     position: fixed-bottom;
     color: white;
     text-align: center;
     margin-top: 50px;
}


#eligible-discount {
     margin-top: 10px;
}

#PcExpressText {
     color: white;
     margin-top: 10px;
     font-size: 15px;
}

#VillmanText {
     color: white;
     margin-top: 10px;
     font-size: 15px;
}
